$tmava: #282828
$siva: #ebebeb
$biela: #f7f7f7
$orange: #f5981e
$zelena: #00ff12
$cervena: #ff0000
li
  list-style: none
.ff_cg
  font-family: Century Gothic
.ff_arial
  font-family: Arial
.easy_rounded
  border-radius: 6px
.fw-bold
  font-weight: bold
.b-0
  bottom: 0 !important
.l-0
  left: 0 !important
.r-0
  right: 0 !important
.t-0
  top: 0 !important
.d-grid
  display: grid
  
.bg-moja-tmava
  background-color: $tmava
.bg-siva
  background-color: $siva
.color_siva
  color: $siva
.pointer
  cursor: pointer
.def_cursor
  cursor: default
.abs_centerX 
  left: 50%
  transform: translatex(-50%)

.abs_centerY 
  top: 50%
  transform: translateY(-50%)

.abs_center 
  left: 50%
  top: 52%
  transform: translate(-50%, -50%)

.translY50
  transform: translateY(50%)

.translX50
  transform: translateX(50%)

.h-100vh
  height: 100vh

.bott-shadow
  box-shadow: 0px 8px 9px -1px #272222
.my_button
  border-radius: 30px
  padding: 8px 14px
  min-width: 8.5rem
  color: white
  background: #363636
.zi-1
  z-index: 1
.zi-2
  z-index: 2
.text-shadow
  text-shadow: -1px 0 2px #000,0 1px 2px #000,1px 0 2px #000,0 -1px 2px #000
.bg-white
  background-color: white
.h-100px
  height: 100px