@media screen and (min-width: 992px) 
@media screen and (max-width: 992px) 
@media screen and (min-width: 768px) 
@media screen and (max-width: 768px) 
  nav
    box-shadow: 0px 1px 11px 6px #302f2f !important
    height: max-content !important
    position: relative !important
    i
      margin: none !important
      padding: none !important
    .logoutA
      position: initial !important
      transform: none !important
      left: unset !important

  main
    display: contents !important
    table
      th:nth-child(2),td:nth-child(2)
        display: none

@media screen and (min-width: 380px) 
@media screen and (max-width: 380px) 