/* line 7, ../../resources/sass/atomic.sass */
li {
  list-style: none;
}

/* line 9, ../../resources/sass/atomic.sass */
.ff_cg {
  font-family: Century Gothic;
}

/* line 11, ../../resources/sass/atomic.sass */
.easy_rounded {
  border-radius: 6px;
}

/* line 13, ../../resources/sass/atomic.sass */
.b-0 {
  bottom: 0 !important;
}

/* line 15, ../../resources/sass/atomic.sass */
.l-0 {
  left: 0 !important;
}

/* line 17, ../../resources/sass/atomic.sass */
.r-0 {
  right: 0 !important;
}

/* line 19, ../../resources/sass/atomic.sass */
.t-0 {
  top: 0 !important;
}

/* line 21, ../../resources/sass/atomic.sass */
.bg-moja-tmava {
  background-color: #282828;
}

/* line 23, ../../resources/sass/atomic.sass */
.color_siva {
  color: #ebebeb;
}

/* line 25, ../../resources/sass/atomic.sass */
.pointer {
  cursor: pointer;
}

/* line 27, ../../resources/sass/atomic.sass */
.def_cursor {
  cursor: default;
}

/* line 29, ../../resources/sass/atomic.sass */
.abs_centerX {
  left: 50%;
  -webkit-transform: translatex(-50%);
      -ms-transform: translatex(-50%);
          transform: translatex(-50%);
}

/* line 33, ../../resources/sass/atomic.sass */
.abs_centerY {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* line 37, ../../resources/sass/atomic.sass */
.abs_center {
  left: 50%;
  top: 52%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* line 42, ../../resources/sass/atomic.sass */
.translY50 {
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}

/* line 45, ../../resources/sass/atomic.sass */
.translX50 {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

/* line 48, ../../resources/sass/atomic.sass */
.h-100vh {
  height: 100vh;
}

/* line 51, ../../resources/sass/atomic.sass */
.bott-shadow {
  -webkit-box-shadow: 0px 8px 9px -1px #272222;
          box-shadow: 0px 8px 9px -1px #272222;
}

/* line 54, ../../resources/sass/atomic.sass */
.zi-1 {
  z-index: 1;
}

/* line 56, ../../resources/sass/atomic.sass */
.zi-2 {
  z-index: 2;
}

/* line 58, ../../resources/sass/atomic.sass */
.text-shadow {
  text-shadow: -1px 0 2px #000, 0 1px 2px #000, 1px 0 2px #000, 0 -1px 2px #000;
}

/* line 60, ../../resources/sass/atomic.sass */
.bg-white {
  background-color: white;
}

/* line 62, ../../resources/sass/atomic.sass */
.h-100px {
  height: 100px;
}
